*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
   color:rgb(232, 230, 227);
   
}

img{
    width:100%;
}

ul{
    list-style: none;
}