.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        width: max-content; // for flex elements to adjust the width

        transition: all 0.2s ease-in-out;
    }

    &-primary {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        transition: all .3s ease-in-out;
        background: linear-gradient(#fff 0 0) no-repeat;
        background-size: 0% 100%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);



        &:hover {
            color: #000;
            background-size: 100% 100%;
            transform: translateY(-3px);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
        }

        &:active{
            transform: translateY(0);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);

        }



    }


}