@import './../../sass/breakpoints';

.footer{
    padding:35rem  6rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //background-color: #9a8c98;
    background-color: #3e5c76;

    
    position: absolute;
    top:0;
    left:0;
    width: 100%;

}